RewriteEngine On
RewriteBase /

# Přesměrování na /webroot/adresa.php, pokud soubor existuje
RewriteCond %{REQUEST_URI} !^/webroot/
RewriteCond %{DOCUMENT_ROOT}/webroot%{REQUEST_URI} -f
RewriteRule ^(.*)$ /webroot/$1 [L]

# Přesměrování na /webroot/index.php, pokud soubor adresa.php neexistuje
RewriteCond %{REQUEST_URI} !^/webroot/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /webroot/index.php [L]

# Přesměrování na /webroot/index.php, pokud je požadavek na /
RewriteRule ^$ /webroot/index.php [L]